<!-- 编辑管理角色权限 开始 -->
<h2>编辑管理角色权限</h2>
<hr />

<%= link_to "返回该角色页", admin_role_path(@role) %> |
<%= link_to "返回角色首页", admin_roles_path %>
<hr class="space" />

<% @role.users.each do |user| %>
<div class="prepend-1 span-3">
  <a href = "<%= edit_admin_user_url(user) %>" class = "user_thumb">
  </a>
</div>
<div class="span-7">
  <p>标题: <%= link_to user.login, edit_admin_user_url(user) %></p>
  <p>上传用户: <%= link_to user.login, user_path(user) %></p>
</div>
<div class="span-3">
  <span>状态</span>:
  <p><%= user.state %></p>
</div>
<div class="span-4">

</div>
<hr />
<% end %>

<hr class="space" />
<%= link_to "返回该角色页", admin_role_path(@role) %> |
<%= link_to "返回角色首页", admin_roles_path %>
<!-- 编辑管理角色权限 结束 -->